.context_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    inset: 0px auto auto 0px;
    /* width: 120px; */
    /* height: 150px; */
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #001f82;
}