.admin {
    margin: 10px;
}

.user {
    border: 1px solid #1143c0;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.modal_cteate_user {
    width: 70vw;
}

.create_user {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

select,
::picker(select) {
    appearance: base-select;
    border: none;
    font-weight: normal;
    padding: 0px;
}

select:focus-visible {
    outline: none;
}

.create_user>* {
    margin: 5px;
}

.not_valid {
    border: 1px solid red;
}

.select_role {
    border: 1px solid #1143c0;
    border-radius: 20px;
    padding: 7px;
}

option {
    border: 2px solid pink;
    background: none;
    padding: 5px;
    border-radius: 20px;
    margin: 5px 0;
    transition: 0.4s;
}

option::checkmark {
    display: none;
}

option:hover,
option:focus {
    background: plum;
}

.fst {
    margin: 10px;
}