.chatPanel {
  position: fixed;
  right: -400px;
  top: 0;
  height: 100vh;
  width: 400px;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.chatPanel.open {
  right: 0;
}

.chatHeader {
  padding: 15px;
  background-color: #1143c0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  font-size: 24px;
  cursor: pointer;
}

.acces_denied {
  text-align: center;
  background-color: red;
  padding: 30px 0;
  border-radius: 20px;
  color: mediumspringgreen;
  font-size: 20px;
  font-weight: 800;
}

.messagesContainer {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f5f5f5;
}

.message {
  margin-bottom: 15px;
  max-width: 80%;
  padding: 10px 15px;
  border-radius: 18px;
  position: relative;
}

.message.sent {
  background-color: #dcf8c6;
  margin-left: auto;
}

.message.received {
  background-color: #fff;
  margin-right: auto;
  border: 1px solid #ddd;
}

.messageSender {
  font-size: 14px;
  width: 100%;
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

.messageContent {
  word-wrap: break-word;
}

.messageMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 12px;
  color: #666;
}

.deleteBtn {
  background: none;
  border: none;
  color: #e74c3c;
  cursor: pointer;
  font-size: 12px;
}

.messageInput {
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.messageInput textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  margin-bottom: 10px;
}

.sendButton {
  background-color: #2c3e50;
  /* color: white; */
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.connectionStatus {
  padding: 5px;
  background-color: #f39c12;
  color: white;
  text-align: center;
  font-size: 12px;
}