.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1143c0;
}

.header_link>* {
    margin: 10px;
    color: #1143c0;
    text-decoration: none;
}

.user_info {
    display: flex;
    color: #1143c0;
}

.user_info>* {
    padding: 0 10px 0 10px;
}

.logout_button {
    border: none;
    background: none;
    cursor: pointer;
    color: #1143c0;
}