.delete_project {
    border: none;
    background: none;
    cursor: pointer;
    color: #1876C2;
}

.link_to_project {
    color: #1876C2;
    text-decoration: none;
    font-weight: 700;
}

.trash {
    cursor: pointer;
}

.link_and_context_menu {
    display: flex;
    justify-content: space-between;
}