.container {
    /* display: flex; */
    justify-content: left;
    overflow-y: hidden;
}

.columns {
    display: flex;
    margin: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 380px;
    min-width: 380px;
    border-top: 4px solid #1876C2;
    /* border-bottom: 4px solid coral; */
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #1876c230;
    max-height: 83vh;
    overflow-x: hidden;
    /* height: 130px; */
}

.column::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}

.column::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

.column::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #356184;
}

.board_container {
    overflow-y: hidden;
    height: 88vh;
}

.board_columns {
    display: flex;
    /* height: 100%; */
}

.board_container::-webkit-scrollbar {
    height: 10px;
    border-radius: 20px;
}

.board_container::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

.board_container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #356184;
}

.add_column {
    border: 1px solid #1876C2;
    border-radius: 20px;
    padding: 5px;
    background: none;
}

.input_task {
    border: 1px solid #1876C2;
    border-radius: 20px;
    padding: 5px;
    background: none;
}

.add_task {
    border: none;
    background: none;
    cursor: pointer;
    color: #1876C2;
}