.header {
    background-color: #6bc56b6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_link>* {
    margin: 10px;
    color: #1876C2;
    text-decoration: none;
}

.user_info {
    display: flex;
    color: #1876C2;
}

.user_info>* {
    padding: 0 10px 0 10px;
}

.logout_button {
    border: none;
    background: none;
    cursor: pointer;
    color: #1876C2;
}