.projects {
    display: flex;
}

.projects_h2 {
    margin: 5px;
}

.project {
    border: 2px solid #1876C2;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}

.members {
    margin-top: 20px;
}

.create_project_button {
    border: none;
    background: none;
    cursor: pointer;
    color: #145a94;
    font-size: 14px;
    font-weight: 550;
}

.create_project {
    display: flex;
    flex-direction: column;
}

.create_project>* {
    margin: 10px;
}

.project_name {
    padding: 10px;
    border-radius: 20px;
}

.create_project_bottom {
    display: flex;
    justify-content: space-between;
}

.project_remove_user {
    border: none;
    background: none;
    cursor: pointer;
    color: #145a94;
}

.project_user {
    display: flex;
    justify-content: space-between;
}

.search_users {
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.input_search_users {
    border: none;
}

.searced_users {
    display: flex;
    justify-content: space-between;
}