.text {
    width: 80%;
    resize: none;
    border: none;
}

.task {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.bottom_input {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.container_task {
    display: flex;
}

.attachments_file {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
}

.title_header {
    display: flex;
    justify-content: space-between;
}

.modal_title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.modal_shadow {
    box-shadow: 0 0 10px rgba(50, 100, 120, 0.5);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}


.container_task_modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.task_name {
    overflow-wrap: anywhere;
}

.task_name>* {
    padding-right: 10px;
}

.delete_task {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #001f82;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.context_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    inset: 0px auto auto 0px;
    /* width: 120px; */
    /* height: 150px; */
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #001f82;
}

.context_menu_button {
    cursor: pointer;
}

.delete_column {
    border: none;
    background: none;
    cursor: pointer;
    /* color: #125489; */
    color: #001f82;
}

.select_users {
    border-radius: 20px;
    padding: 5px;
    border-color: #1876C2;
    color: #001f82;
}

.select_users:active {
    border: 0;
}